div.main-container {
  padding: 15px;
}

div.first-box {
  background: linear-gradient(to bottom, #d5dee7 0%, #e8ebf2 50%, #e2e7ed 100%);
  max-width: 500px;
  padding: 20px 15px;
  font-family: "Nanum Gothic", sans-serif;
  box-shadow: 8px 4px 4px grey;
  border-radius: 4px;
  display: block;
  margin: 10px auto;
}

div.second-box {
  background: linear-gradient(to bottom, #d5dee7 0%, #e8ebf2 50%, #e2e7ed 100%);
  max-width: 500px;
  padding: 40px 30px;
  box-shadow: 8px 4px 4px grey;
  font-family: "Nanum Gothic", sans-serif;
  border-radius: 4px;
  display: block;
  margin: 20px auto;
}

input.form-control {
  padding: 5px 10px;
  font-size: 25px;
  border-radius: 4px;
}

button {
  margin-top: 10px;
}

section.main-forecast-display {
  display: block;
  letter-spacing: 2px;
  margin: 20px;
  margin-top: -20px;
}

h1 {
  color: #0f4c80;
  font-size: 25px;
}
h2 {
  color: #5457a6;
  font-size: 20px;
}

h2::first-letter {
  text-transform: uppercase;
}

h3 {
  color: #0f4c80;
  font-size: 35px;
}

span.units {
  font-size: 20px;
}

.main-icon {
  width: 110px;
}

p {
  text-align: right;
  opacity: 90%;
  font-weight: lighter;
  font-family: "Handlee", cursive;
  font-size: 15px;
  margin-top: -20px;
  margin-bottom: 40px;
  letter-spacing: 1px;
}

section.general-info {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 40px;
}

.general-info-parameter {
  font-size: 13px;
  font-family: "Handlee", cursive;
  opacity: 90%;
  font-weight: bold;
  letter-spacing: 1px;
  padding-bottom: 2px;
}

.general-info-value {
  font-size: 20px;
  color: #5457a6;
  font-family: "Handlee", cursive;
}

section.hour-forecast-display {
  margin-top: 0px;
  text-align: center;
  border: 1px solid #bdbdbd;
  border-radius: 3px;
  padding: 7px 10px;
  font-size: 13px;
  font-family: "Handlee", cursive;
  color: #0f4c80;
}

.icon {
  max-width: 50px;
}

.active {
  color: #0f4c80;
}

.active:hover {
  text-decoration: none;
  cursor: default;
  color: #0f4c80;
}

.add-hover:hover {
  cursor: default;
}

footer {
  margin-top: -10px;
  text-align: center;
  font-family: "Shadows Into Light", cursive;
}
